@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400&display=swap');

*{
   
    box-sizing: border-box;
}
body{
    font-family: 'Antonio', sans-serif;
    display:flex;
    height: 100vh;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-color: azure; */
    margin:0;
    overflow: hidden;

    
}

.maincont{
    display:flex;
    width:90vw;
}

.frame{
    background-size: auto 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 20px;
    cursor:pointer;
    flex:0.5;
    position: relative;
    margin:12px;
    -webkit-transition: all 700ms ease-in;
    transition: all 700ms ease-in;
}
.frame.active{
    flex:4;
    border-radius: 20px;
    

}
h3{
    color:white;
    background-color: rgba(0 , 0 , 0, 0.5);
    position: absolute;
    width:max-content;
    bottom:50%;
    left:-25px;
    opacity:1;
    font-size: 2rem;
    transform: rotate(270deg);
    -webkit-transition: all 700ms ease-in;
    transition: all 700ms ease-in;
}
.frame.active h3{
    opacity: 1;
    color:white;
    position: absolute;
    bottom:2px;
    left:25px;
    /* opacity:0; */
    font-size: 2rem;
    transform: rotate(360deg);
    -webkit-transition: all 700ms ease-in;
    transition: all 700ms ease-in;
}


@media (max-width:480px){
    .maincont{
        width:100vw;
    }
    .frame:nth-of-type(4),.frame:nth-of-type(5){
        display:none;
    }

}